APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Asia/Krasnoyarsk

MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM=
MAIL_TO=

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=

YANDEX_METRIKA_ID=
